
a {
  text-decoration: none;
}

h1 {
  margin-top: 7.5px;
}

.outerbox {
    width: 80%;
    height: 500px;
    border: 10px solid black;
    margin: 9%;
    box-shadow: 20px 20px;
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    /* padding: 2%; */
    position: absolute;
    line-height: 1.5;
}

.innerbox{
    margin: 2%;
    width: 95%;
    height: 90%;
    position: absolute;
}


.slide {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.title {
    font-size: medium;
    text-align: center;
}


.introduction {
    height: 100%;
    width: 100%;
    float: left;
}

.body {
    /* max-height: 75%; */
    height: 70%;
    display: block;
    background-color: lightgray;
    border-radius: 35px 10px;
    padding: 5px;
}

.row {
    height: 50%;
    max-height: 133px;
    max-width: 100%;
    overflow-x: clip;
}

.mediacontainer {
    max-height: 100%;
    max-width: 100%;
    overflow-x: clip;
    overflow-y: scroll;
}

.current {
    position: absolute;
    margin: 0 0 0 50px;
}

.displayicon {
    max-width: 200px;
    max-height: 100px;
    margin: 10px;
    border-radius: 2.5%;
}

.contacttext {
    text-align: center;
}

.bottombar {
    position: absolute;
    bottom: 0px;
    display: inline-block;
    width: 100%;
}

.next, .prev {
    padding: 8px;
    border: none;
    background: none;
    cursor: pointer;
    font-size: medium;
}

.iconbar {
    margin-left: 45%;
    margin-top: 25px;
    position: absolute;
} 

.icon {
    max-width: 20px;
    max-height: 20px;
}

.downloadicon {
    margin: 20px;
    max-height: 50px;
    max-width: 50px;
}

.next {
    float: right;
    cursor: pointer;
    position:relative;
    display:block;
    margin: 25px 0 0 25px;
    width: 25px;
    height: 25px;
    border: solid 2px #999;
    border-radius: 100%;
    z-index: 1;
    transition: all .2s linear;
    &:before, &:after{
      content:"";
      position: absolute;
      width:35%;
      height: 10%;
      top:41%;
      left:55%;
      background: #999;
      z-index: 2;
      transform: translate(-50%, -50%) rotate(45deg);
      transition: all .2s linear;
    }
    &:after{
      z-index: 3;
      top:59%;
      left:55%;
      transform: translate(-50%, -50%) rotate(-45deg);
    }
    &:hover{
      border: solid 2px #777;
      &:after, &:before{
        background: #777;
      }
    }
    &:active{
      border: solid 2px #111;
      &:after, &:before{
        background: #111;
      }
    } 
}

.prev {
    cursor: pointer;
    position:relative;
    display: none;
    margin: 25px 0 0 0;
    width: 25px;
    height: 25px;
    border: solid 2px #999;
    border-radius: 100%;
    z-index: 1;
    transition: all .2s linear;
    &:before, &:after{
      content:"";
      position: absolute;
      width:35%;
      height: 10%;
      top:41%;
      left:55%;
      background: #999;
      z-index: 2;
      transform: translate(-75%, -50%) rotate(135deg);
      transition: all .2s linear;
    }
    &:after{
      z-index: 3;
      top:59%;
      left:55%;
      transform: translate(-75%, -50%) rotate(-135deg);
    }
    &:hover{
      border: solid 2px #777;
      &:after, &:before{
        background: #777;
      }
    }
    &:active{
      border: solid 2px #111;
      &:after, &:before{
        background: #111;
      }
    } 
}